/* Dustin S Hoffman */
/* CGS 2823 */
/* Student ID: 2392649 */





  

/*    PET PARTNER STYLES    */




/*    HEADER AND MENU STYLES    */
body {
    background-color: #fff; 
    color: #000000;
    font-family: "Segoe UI", "Frutiger", "Dejavu Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

header {
    padding-top: .5em;;
    background-size: 10%;
    background-position: left;
}

#Logo { 
	max-width: 20%;
    height:auto;
    display: inline-block;
    float: left;
    margin-left: 2%;
    
}

#Title {
    Float: right;
    display: inline-block;
    margin-right:2%;
    margin-top: 10px;
    color: #e83e2e;

}

#Title2 {
    color: #0598ed;
    display: inline-block;
}



/*      NAVIGATION STYLES       */

nav {
    margin-left: 2.5%;
    margin-top: 10px;
}

.DropButton {
    background-color: #E89B2E;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 95%;
    border-radius: 8px; 
  
}

/* The container <div> - needed to position the dropdown content */
.Dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.Dropdown_items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.Dropdown_items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Dropdown_items a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.Dropdown:hover .Dropdown_items {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.Dropdown:hover .DropButton {
    background-color: #0598ED;
}


/*      Search Bar Styling      */

.SearchBar {
    padding: 10px;
    font-size: 16px;
    width: 95%;
}

.SearchBar input {
    width: 70%;
    display: inline-block;
}

.SearchBar button {
    float: right;
    background: #0598ED;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    float: right;
   
}

#WelcomeMessage {
        font-family: "Sofia";
        text-decoration: underline;
}

.ThumbImageLeft {
    width: 49%;
    margin-top: 5px;
    float: left;
    
}

.ThumbImageRight {
    width: 49%;
    margin-top: 5px;
    float: right;
    
}


.MainContent {
    width: 95%;
    text-align: center;
    margin-left: 2.5%;
}


#DogRunning {
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
    
}

/*    ABOUT US STYLES   */ 






/*    SERVICES STYLES     */ 






/*     SCHEDULE NOW STYLES     */ 






/*     REVIEWS STYLES     */ 






/*     CONTACT US STYLES     */ 






/*******************Media Queries*********************/ 


/*   Above 601px Wide     */ 

@media screen and (min-width: 601px) {
    #Title {
        font-size: 65px;
  }




/*    Less than 601px Wide     */ 

@media screen and (max-width: 600px) {
  #Title {
    font-size: 30px;
  }
    }}